# Identidad visual de la aplicación

APP_NAME=TCG Store
APP_SHORT_NAME=TCG Store
APP_LEGAL_NAME=TCG Store
APP_DESCRIPTION=Plataforma de administración TCG

VITE_APP_NAME=TCG Store
VITE_APP_SHORT_NAME=TCG Store
VITE_APP_DESCRIPTION=Plataforma de administración TCG
